@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Andika;
}
body{
  min-height: 100vh;
  background-image: url('../src/assets/background_admin.png');
  background-size: cover;
  background-position: center;
}
a{
  text-decoration: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cursor{
  cursor: pointer;
}